 #main {
     width: 80%;
     /* border: 3px solid crimson; */
     display: flex;
     margin: auto;
     position: relative;
     min-height: 100vh;
 }

 #main>#left {
     width: 20%;
     /* border: 3px solid green; */
     position: fixed;
 }
 #left img{
    display: block;
    margin-left: 12px;
 }
 #main>#left h1{
    margin-left: 12px;
 }
 #main>#left p{
    font-size: 17px;
    margin-bottom: 20px;
    color: #414140;
    cursor: pointer;
 }
 #main>#right {
     width: 90%;
     /* border: 3px solid yellow; */
     margin-left: 320px;
 }
 #right>div{
    border-radius: 8px;
 }
 #right>div h1{
    margin-left: 20px;
 }
 #right>#searchDiv{
    margin-left: 30px;
    align-items: center;
    margin-top: 30px;
 }
 #right>#searchDiv span{
    border: 2px solid gray;
    border-radius: 30px;
    padding: 12px;
    margin-left: 5px;
 }
 #right>#searchDiv input{
    border: none;
    width: 10rem;
    margin-bottom: 10px;
    padding: 10px;
 }


 #right>#searchDiv #shubhamHR{
    width: 100%;
    border: 1px solid black;
 }
.shubhambox{
    width: 100%;
    /* border: 5px solid crimson; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background-color: #f8f7f5;
    padding: 20px;
}
.shubhambox div{
    /* border: 3px solid blue; */
    color: #414140;
    font-weight: 400;
    border-radius: 10px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.shubhambox div img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.shubhambox div #shubhamprice{
    padding-left: 20px;
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: 20px;
    color: red;
    font-family: bold;
}
.shubhambox div>h4,p{
    padding-left: 20px;
}
.shubhambox div>.Button{
    margin: auto;
    padding: 12px;
    background-color: red;
    border: none;
    color: white;
    font-weight:bold ;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
    border-radius: 18px;
    width: 10rem;
}
